<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd">

<!--         <aop:aspectj-autoproxy proxy-target-class="true" />
 -->    <aop:aspectj-autoproxy />
    
    <bean id="specialService" class="com.kilo.proxyproxy.SpecialServiceImpl">
    </bean>

    <bean id="astralMethodInterceptor" class="com.kilo.proxyproxy.AstralMethodInterceptor">
    </bean>
    <!-- 
    <bean id="stellarMethodInterceptor" class="com.kilo.proxyproxy.StellarMethodInterceptor">
    </bean>
    -->
    <jaxws:client id="currencyConvertor"
        serviceClass="net.webservicex.CurrencyConvertorSoap"
        address="http://www.webservicex.net/CurrencyConvertor.asmx?WSDL" />

</beans>