<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/spring-jms-batched-listener-tester/src/main/java/com/kilo/driver/SpringJMSBatchedDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.kilo.driver.SpringJMSBatchedDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="spring-jms-batched-listener-tester"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duser.timezone=GMT -d64 -Dlog4j.configuration=com/kilo/spring-jms-tester-log4j.xml"/>
</launchConfiguration>
