<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://activemq.apache.org/schema/core 
                        http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven />

    <!-- EMBEDDED BROKER CONFIG -->
    <amq:broker persistent="true" useJmx="true" brokerName="embeddedBroker"
        id="embeddedBroker" tmpDataDirectory="/tmp/baigm/activemq-data">
        <amq:persistenceAdapter>
            <amq:kahaDB directory="/tmp/baigm/activemq-temp"
                journalMaxFileLength="32mb" />
        </amq:persistenceAdapter>

        <amq:systemUsage>
            <amq:systemUsage>
                <amq:memoryUsage>
                    <amq:memoryUsage limit="256 mb" />
                </amq:memoryUsage>
            </amq:systemUsage>
        </amq:systemUsage>
    </amq:broker>
    
    <bean id="service1" class="com.kilo.Service1">
        <property name="dao1" ref="dao1" />
    </bean>
    
    <bean id="testerDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="testOnBorrow" value="true" />
        <property name="maxActive" value="10" />
        <property name="validationQuery">
            <value>SELECT 1</value>
        </property>
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
        <property name="url"
            value="jdbc:jtds:sqlserver://DATASERVER1:1433/sandbox;sendStringParametersAsUnicode=false;appName=testApp" />
        <property name="username" value="guestuser" />
        <property name="password" value="tiger" />
    </bean>
    
    <bean id="dao1" class="com.kilo.DAO1">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="testerTransactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="testerDataSource" />
    </bean>
</beans>